.todo{
    
    
}
.card{
    background-color: rgba(100, 175, 152, 0.068);
    backdrop-filter: blur(5px);
    border-radius: 5%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    width:300px;
    height: 300px;
    text-decoration: none;
    padding-top: 50px;
    transition: 0.3s;
    animation: ease-in;
    cursor: pointer;
    flex-direction: column;
    align-content: center;
    align-self: center;
    align-items: center;
   

    
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
}
a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
.img-c{
    border-radius: 8px ;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.75) ;
    margin: 0px;
    width: 200px;
    height:150px ;
}
.continent{
    color: rgb(233, 233, 233);
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.75) ;
    justify-self: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.link{
    color:antiquewhite;
    justify-self: center;
}
